html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    max-width: 100%;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}
